/********** Template CSS **********/
:root {
    /*Main Colors */
    --color-primary: #FFD700;
    --color-secondary: #000957;

    --color-bg-gradient: linear-gradient(135deg, #000957, #FFD700, #000957);

    --color-bg-section: linear-gradient(90deg, #FFD700, #000957);
    --color-bg-light: #EEF9FF;
    --color-bg-sectionabout: linear-gradient(135deg, #000957, #FFD700);
    --color-bg-sectioncontact: linear-gradient(135deg, #FFD700, #000957);



    --color-text-heading: #FFD700;
    --color-text-body: #EEF9FF;
    --color-text-dark: #080808;
    --color-text-light: #FFFFFF;
}

body {
    color: var(--color-text-body);
}

/*** Spinner ***/
.spinner {
    width: 40px;
    height: 40px;
    background: var(--color-primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.text-secondary {
    color: var(--color-secondary) !important;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: var(--color-text-light);
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary {
    background-color: var(--color-secondary);
    border-color: var(--color-text-light);
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--color-primary);
    background-color: var(--color-text-light);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--color-secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}


/*** Navbar ***/

.topbar {
    background: var(--color-bg-gradient) !important;
}

.logo {
    max-width: 150px;
}

.logochange {
    max-width: 100px;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 15px 0;
    color: var(--color-text-light);
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--color-text-light);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--color-primary);
}

.navbar-dark .navbar-brand h1 {
    color: var(--color-text-light);
}

.navbar-dark .navbar-toggler {
    color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: var(--color-secondary) !important;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        color: var(--color-primary);
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        /* border-bottom: 1px solid rgba(256, 256, 256, .1); */
        z-index: 999;
    }

    .sticky-top.navbar-dark {
        position: fixed;
        background: var(--color-secondary);
        color: var(--color-text-light);
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--color-primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--color-primary);
    }
}


/*** Carousel ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000a3;
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.carasoleheading {
    font-size: 3.6rem !important;
}

#factssection{
    background: var(--color-bg-light) !important;
}

.factsimg{
    width: 105px;
    height: 105px;
}
.factsimgborder{
    width: 110px;
    height: 110px;
}

/* Chatbot Styling */
.chatbot-container {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 400px;
    background-color: #25D366;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    z-index: 999;
    border-radius: 10px;
}

.chatbot-header {
    background-color: #075E54;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.chatbot-body {
    padding: 20px;
    background-color: #ECE5DD;
    height: 300px;
    overflow-y: auto;
    display: flex; /* Flexbox to allow alignment */
    flex-direction: column; /* Messages stack vertically */
}

/* Chat messages */
.message {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 70%;
}

.user-message {
    align-self: flex-end; /* Aligns to the right */
    background-color: #DCF8C6;
    color: #000;
    padding: 10px;
    border-radius: 20px 20px 0 20px;
    margin-bottom: 10px;
}

.bot-message {
    align-self: flex-start; /* Aligns to the left */
    background-color: white;
    color: #000;
    padding: 10px;
    border-radius: 20px 20px 20px 0;
    margin-bottom: 10px;
}

.clickable {
    cursor: pointer;
    background-color: #25D366;
    color: white;
    padding: 10px;
    border-radius: 20px 20px 0 20px;
    max-width: 70%;
    align-self: flex-end; /* Aligns to the right */
    margin-bottom: 10px;
}

/* Chatbot Footer */
.chatbot-footer {
    padding: 10px;
    display: flex;
    gap: 10px;
}

#userInput {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
}

#sendMessage {
    width: 100px;
    border: none;
    background-color: #25D366;
    color: white;
    border-radius: 20px;
}




/*** About Section ***/

#aboutsection{
    background: var(--color-bg-sectionabout) !important;
}
#featuressection{
  background-color: var(--color-bg-light) !important;
}
.featuresheading{
    color: var(--color-secondary);
}
.featureslist h4{
    color: var(--color-secondary);
}
.featureslist p{
    color: #080808;
}
.featureslist i{
    color: var(--color-secondary) !important;
    font-size: 1.8rem;
}
.bgfeature{
    background-color: var(--color-primary);
}
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--color-primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: var(--color-text-light);
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

.aboutheading {
    color: var(--color-text-light);
}

.features div h5 {
    color: var(--color-text-light);
}

div h5 {
    color: var(--color-text-light);
}

@-webkit-keyframes section-title-run {
    0% {
        left: 0;
    }

    50% {
        left: 145px;
    }

    100% {
        left: 0;
    }
}

@-webkit-keyframes section-title-run-center {
    0% {
        left: 50%;
        margin-left: -75px;
    }

    50% {
        left: 50%;
        margin-left: 45px;
    }

    100% {
        left: 50%;
        margin-left: -75px;
    }
}

@-webkit-keyframes section-title-run-sm {
    0% {
        left: 0;
    }

    50% {
        left: 85px;
    }

    100% {
        left: 0;
    }
}


/*** Service ***/
#servicesection {
    background: var(--color-bg-section) !important;
}
.serviceheading{
    color: var(--color-text-light);
}

.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    border-radius: 5% !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    position: relative;
}

.service-img img {
    border-radius: 10% 10% 0 0;
    transition: transform 0.3s ease;
}

.service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
}

.service-item:hover .service-img img {
    transform: scale(1.2);
}

.service-content {
    background-color: var(--color-bg-light);
    border-radius: 0 0 10% 10%;
    padding: 20px;
    position: relative;
    z-index: 2;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--color-text-dark);
}

.service-content h5{
    color: var(--color-primary);
}


.service-item:hover .service-content {
    background-color: var(--color-secondary); /* Change background color on hover */
}

.service-item:hover .service-content-inner h5, 
.service-item:hover .service-content-inner p {
    cursor: pointer;
}

/* Hover background highlight */
.service-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.service-item:hover::before {
    color: black;
}

/*** Testimonial ***/

#testimonialsection{
  background: var(--color-bg-light) !important;
}

.testimonialsheading{
    color: var(--color-secondary) !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--color-secondary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--color-text-light) !important;
    box-shadow: 0 0 30px #DDDDDD;
}

.testimonial-item .ps-4 h4{
    color: var(--color-secondary) !important;
}

.reviewdiv{
    color: var(--color-text-dark);
}


/* Quote Section */
#quotesection{
    background: var(--color-bg-section) !important;
}

.quoteheading{
    color: var(--color-text-light);
}

/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)), url(../img/carousel-2.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}

/*** Footer Start ***/
.footer {
    background: var(--color-secondary);
}
.footer .footer-item a {
    line-height: 35px;
    color: var(--color-text-light);
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer .footer-item a:hover {
    letter-spacing: 1px;
    color: var(--bs-primary);
}

.footerheadings{
    color: var(--color-primary);
}

.footer .footer-item-post a {
    transition: 0.5s;
}

.footer .footer-item-post a:hover {
    color: var(--bs-primary) !important;
}

.footer .footer-item-post .footer-btn a {
    transition: 0.5s;
}

.footer .footer-item-post .footer-btn a:hover {
    color: var(--bs-dark);
}

.footericons a{
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
}
/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-dark) !important;
}
/*** copyright end ***/



/* About Page */

.about_us_section {
    background: var(--color-bg-sectionabout);
    color: var(--color-text-light);
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .about_us_section h2{
    color: var(--color-text-light);
  }

  .image_box img{
border-radius: 5%;
  }
  
  .about_us_section .row {
    align-items: center;
  }
  
  .about_us_section .image_box img {
    max-width: 100%;
  }
  
  .about_us_section .details_box h2 {
    font-weight: bold;
  }

  .about_us_section .details_box h2 span {
    color: var(--color-secondary);
  }
  
  .about_us_section .details_box p {
    margin-top: 15px;
  }
  
  .about_us_section .details_box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #00bbf0;
    color: #ffffff;
    border-radius: 0px;
    transition: all 0.3s;
    border: none;
    margin-top: 15px;
  }
  
  .about_us_section .details_box a:hover {
    background-color: #007fa4;
  }

  .choose_us_section{
    background: var(--color-bg-light);
    color: var(--color-text-dark);
    padding-bottom: 2rem;
  }

  .heading_container{
    padding-top: 2rem;
  }
  
  .choose_us_section .box {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .choose_us_section .box .image_box {
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 100%;
    border: 5px solid #00204a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choose_us_section .box .image_box img {
    width: 55px;
    height: auto;
  }
  
  .choose_us_section .box h5 {
    font-weight: bold !important;
    color: var(--color-secondary);
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .choose_us_section .box p {
    margin-bottom: 0;
    font-size: 1.3rem;
  }
  
  .choose_us_section .button_box {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
  
  .choose_us_section .button_box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #00bbf0;
    color: #ffffff;
    border-radius: 0;
    transition: all 0.3s;
    border: none;
  }
  
  .choose_us_section .button_box a:hover {
    background-color: #007fa4;
  }
  
  /* Responsive CSS */
  @media (max-width: 1300px) {}
  
  @media (max-width: 1120px) {}
  
  @media (max-width: 992px) {
    .hero_area {
      min-height: auto;
    }
  
    .hero_area {
      background: linear-gradient(130deg, #231a6f, #0f054c);
    }
  
    .hero_area .hero_bg_box {
      display: none;
    }
  
    .slider_section {
      padding: 45px 0 75px 0;
    }
  
    .custom_nav-container .navbar-nav {
      padding-top: 15px;
      align-items: center;
    }
  
    .custom_nav-container .navbar-nav .nav-item .nav-link {
      padding: 5px 25px;
      margin: 5px 0;
    }
  }
  
  @media (max-width: 768px) {
    .about_us_section .image_box {
      margin-bottom: 45px;
    }
  }
  
  @media (max-width: 576px) {
    .header_section .header_top .contact_nav a span {
      display: none;
    }
  
    .client_section .client_container {
      width: 100%;
    }
  
    .client_section .box {
      margin: 0;
    }
  
    .owl-nav {
      display: flex;
      justify-content: center;
      margin-top: 45px;
    }
  
    .client_section .owl-carousel .owl-nav .owl-prev,
    .client_section .owl-carousel .owl-nav .owl-next {
      position: unset;
      margin: 0 2.5px;
    }
  }
  
  @media (max-width: 480px) {
    .slider_section .details_box h1 {
      font-size: 2rem;
    }
  
    .track_section form {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .track_section form input {
      width: 100%;
    }
  
    .track_section form button {
      padding: 10px 60px;
      margin-top: 10px;
    }
  
    .track_section .track_text {
      padding: 0;
    }
  }
  
/*** New Services Start ***/
.new-service .new-service-inner {
    transition: 0.5s;
    border-radius: 10px !important;
}

.new-service{
    background: var(--color-bg-section);
}

.new-service-text h5{
    color: var(--color-secondary);
}

.new-service-text p{
    color: var(--color-text-dark);
}

.new-service-icon i{
color: var(--color-secondary) !important;
}

.servicepageheading{
    color: var(--color-text-light);
}

.new-service .new-service-inner:hover {
    position: relative;
    background: var(--color-primary) !important;
}

.new-service .new-service-inner .new-service-text h5,
.new-service .new-service-inner .new-service-text p,
.new-service .new-service-inner .new-service-icon i {
    transition: 0.5s;
}

.new-service .new-service-inner:hover .new-service-text h5,
.new-service .new-service-inner:hover .new-service-text p,
.new-service .new-service-inner:hover .new-service-icon i {
    cursor: pointer;
}

.new-service .new-service-inner:hover{
    background: var(--color-secondary) !important;
    cursor: pointer;
}

.new-service .new-service-inner:hover .new-service-text h5 {
    color: var(--color-primary);
}

.new-service .new-service-inner:hover .new-service-text p {
    color: var(--color-text-body);
}

.new-service .new-service-inner:hover .new-service-icon i{
    color: var(--color-primary) !important;
}

/*** New Services End ***/


/* Contact Page */

#contactsection{
    background: var(--color-bg-sectioncontact) !important;
}

.contactheading{
    color: var(--color-text-light);
}

.contactdetails{
    font-size: 1.2rem;
    font-weight: 600 !important;
}

.contactdetailsheading{
    font-size: 1.4rem;
    font-weight: 800 !important;
}